body {
    margin: 0;
    padding: 0;
}

header {
    height: 400px;
    display: flex;
    align-items: top;
    justify-content: center;
    background: url(../images/header_bg.jpg) no-repeat;
}

header h1 {
    color: #fff;
    text-shadow: 1px 1px 4px #000;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    padding: 20px 0 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}