body {
    margin: 0;
    padding: 0;
}

header {
    height: 400px;
    display: flex;
    align-items: top;
    justify-content: center;
    background: url(../images/header_bg.jpg) no-repeat 20% 0;
}

header h1 {
    color: #fff;
    text-shadow: 1px 1px 4px #000;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.news {
    background-color: #fff;
    padding: 50px 0 30px;
}

article {
    width: 768px;
    margin: 0 auto 30px;
    padding: 6px 15px;
    border-bottom: 1px solid #808080;
}

article:nth-child(even) {
    background: #eaeef1;
}

article:nth-of-type(-n+2)::before {
    content: " NEW";
    color: #000;
    background: #f00;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
    position: absolute;
}

article a {
    color: #212529;
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {

    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color:#868e96;
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    padding: 20px 0 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}

.disclamer {
    color: rgb(255, 0, 0);
}